$black_222: #222222;
$black_222222: #222222;
$darkgray_aaa: #aaaaaa;
$darkorange_FF9922: #ff9922;
$darkorange_f92: #ff9922;
$darkorange_ff9922: #ff9922;
$darkslategray_444: #444444;
$dimgray_555: #555555;
$gainsboro_E8E8E8: #e8e8e8;
$lightgray_ccc: #cccccc;
$white_fff: #ffffff;
$whitesmoke_f5f5f5: #f5f5f5;
