@charset "UTF-8";
$darkgray_aaa: #aaaaaa;
$darkgrey_999: #999999;
$darkorange_f92: #ff9922;
$dimgrey_666: #666666;
$gainsboro_ddd: #dddddd;
$lightgray_ccc: #cccccc;
$skyblue_75c0d0: #75c0d0;
$white_fff: #ffffff;
