$black_000: #000000;
$darkslategray_444444: #444444;
$dimgray_686868: #686868;
$gainsboro_ddd: #dddddd;
$lightgray_ccc: #cccccc;
$silver_bbb: #bbbbbb;
$white_FAFAFA: #fafafa;
$white_fff: #ffffff;
$whitesmoke_eee: #eeeeee;
$whitesmoke_efefef: #efefef;
