$black_000: #000000;
$chocolate_E57633: #e57633;
$crimson_ff505e: #ff505e;
$gainsboro_ddd: #dddddd;
$gainsboro_e5e5e5: #e5e5e5;
$lightgray_CCC: #cccccc;
$lightgray_ccc: #cccccc;
$white_FFF: #ffffff;
$whitesmoke_eee: #eeeeee;
