$black_000: #000000;
$darkgrey_999: #999999;
$darkorange_F72: #ff7722;
$darkorange_F92: #ff9922;
$darkslategrey_333: #333333;
$gainsboro_DDD: #dddddd;
$gainsboro_E5E5E5: #e5e5e5;
$lightgray_CCC: #cccccc;
$lightgray_CCCCCC: #cccccc;
$silver_BBB: #bbbbbb;
$silver_C0C0C0: #c0c0c0;
$white_FFF: #ffffff;
$whitesmoke_E9E9E9: #e9e9e9;
$whitesmoke_EEE: #eeeeee;
