$darkgrey_999: #999999;
$darkslategrey_333: #333333;
$dimgray_555: #555555;
$dimgrey_666: #666666;
$gainsboro_ddd: #dddddd;
$gainsboro_e4e4e4: #e4e4e4;
$gainsboro_e5e5e5: #e5e5e5;
$grey_777: #777777;
$indianred_b8384e: #b8384e;
$lightgray_ccc: #cccccc;
$mediumseagreen_5BAD5B: #5bad5b;
$red_f00: #ff0000;
$silver_C0C0C0: #c0c0c0;
$silver_C9C9C9: #c9c9c9;
$silver_bbb: #bbbbbb;
$white_fff: #ffffff;
$whitesmoke_eee: #eeeeee;
