$black_000: #000000;
$darkslategrey_333333: #333333;
$dimgray_555555: #555555;
$gray_888: #888888;
$green_008000: #008000;
$lightgrey_CDCDCD: #cdcdcd;
$mistyrose_EDD3D3: #edd3d3;
$orange_ffa000: #ffa000;
$papayawhip_F4EBCD: #f4ebcd;
$red_ff0000: #ff0000;
