$black_000: #000000;
$black_111: #111111;
$black_171717: #171717;
$darkgray_AAA: #aaaaaa;
$darkgrey_999: #999999;
$darkorange_F92: #ff9922;
$darkorange_FF9922: #ff9922;
$darkslategray_474747: #474747;
$darkslategrey_333: #333333;
$dimgray_555: #555555;
$dimgrey_5D5D5D: #5d5d5d;
$gainsboro_DDD: #dddddd;
$gainsboro_ddd: #dddddd;
$grey_777: #777777;
$lightgray_ccc: #cccccc;
$lightgrey_D4D4D4: #d4d4d4;
$red_FF0000: #ff0000;
$silver_BBBBBB: #bbbbbb;
$silver_C6C5C4: #c6c5c4;
$silver_bbb: #bbbbbb;
$white_FFF: #ffffff;
$white_fff: #ffffff;
$whitesmoke_F7F7F7: #f7f7f7;
$whitesmoke_eeeeee: #eeeeee;
