$dimgray_555: #555555;
$gainsboro_ddd: #dddddd;
$gray_888: #888888;
$grey_777: #777777;
$lightgray_ccc: #cccccc;
$silver_bbb: #bbbbbb;
$white_fff: #ffffff;
$whitesmoke_e9e9e9: #e9e9e9;
$whitesmoke_eee: #eeeeee;
$whitesmoke_f6f6f6: #f6f6f6;
