$black_000: #000000;
$blanchedalmond_ffeec8: #ffeec8;
$chocolate_C4632F: #c4632f;
$darkgoldenrod_D18F2B: #d18f2b;
$darkgray_ABABAB: #ababab;
$darkgray_aaa: #aaaaaa;
$darkgrey_999: #999999;
$darkslateblue_15468C: #15468c;
$darkslateblue_2A61AF: #2a61af;
$darkslategray_484848: #484848;
$darkslategray_4B4B4B: #4b4b4b;
$darkslategrey_333: #333333;
$dimgray_555: #555555;
$dimgrey_666: #666666;
$dimgrey_696969: #696969;
$forestgreen_35A835: #35a835;
$gainsboro_DDD: #dddddd;
$gainsboro_ddd: #dddddd;
$gainsboro_e4e4e4: #e4e4e4;
$gainsboro_e5e5e5: #e5e5e5;
$goldenrod_F6AF2F: #f6af2f;
$goldenrod_F7AE40: #f7ae40;
$goldenrod_FCB24B: #fcb24b;
$goldenrod_f2bf5c: #f2bf5c;
$goldenrod_fbb42c: #fbb42c;
$gray_888: #888888;
$grey_777: #777777;
$indianred_b8384e: #b8384e;
$lightgray_CCC: #cccccc;
$lightgray_CCCCCC: #cccccc;
$lightgray_ccc: #cccccc;
$limegreen_0a0: #00aa00;
$mediumseagreen_5BAD5B: #5bad5b;
$navajowhite_FCD891: #fcd891;
$olivedrab_52891B: #52891b;
$orange_F39C19: #f39c19;
$orange_fb0: #ffbb00;
$red_d00: #dd0000;
$saddlebrown_442A0B: #442a0b;
$saddlebrown_562900: #562900;
$saddlebrown_774a06: #774a06;
$saddlebrown_a14f00: #a14f00;
$sandybrown_eaa350: #eaa350;
$sandybrown_f5b04e: #f5b04e;
$sienna_996634: #996634;
$sienna_9b6937: #9b6937;
$silver_BBB: #bbbbbb;
$silver_C6C5C4: #c6c5c4;
$silver_bbb: #bbbbbb;
$steelblue_2D6F9E: #2d6f9e;
$white_FFF: #ffffff;
$white_fff: #ffffff;
$white_ffffff: #ffffff;
$whitesmoke_EEE: #eeeeee;
$whitesmoke_F2EFEF: #f2efef;
$whitesmoke_F4F4F4: #f4f4f4;
$whitesmoke_F5F5F5: #f5f5f5;
$whitesmoke_e9e9e9: #e9e9e9;
$whitesmoke_eee: #eeeeee;
$whitesmoke_eeeeee: #eeeeee;
$whitesmoke_f2f2f2: #f2f2f2;
$whitesmoke_f5f5f5: #f5f5f5;
$yellowgreen_6EB22A: #6eb22a;
