$black_000: #000000;
$crimson_ff505e: #ff505e;
$darkgray_aaa: #aaaaaa;
$darkorange_f72: #ff7722;
$darkorange_f92: #ff9922;
$gainsboro_ddd: #dddddd;
$lightgray_ccc: #cccccc;
$silver_C0C0C0: #c0c0c0;
$silver_bbb: #bbbbbb;
$white_fff: #ffffff;
$whitesmoke_eee: #eeeeee;
$whitesmoke_f5f5f5: #f5f5f5;
