$burlywood_E8CC8B: #e8cc8b;
$crimson_ff505e: #ff505e;
$dimgray_555: #555555;
$gainsboro_ddd: #dddddd;
$gray_888: #888888;
$grey_929292: #929292;
$lemonchiffon_F7ECC3: #f7ecc3;
$lightgray_CCCCCC: #cccccc;
$lightgray_ccc: #cccccc;
$moccasin_ffe7bd: #ffe7bd;
$orange_f3960d: #f3960d;
$silver_C9C9C9: #c9c9c9;
$tomato_F03432: #f03432;
$white_FAFAFA: #fafafa;
$white_FFFFFF: #ffffff;
$whitesmoke_F2F2F2: #f2f2f2;
$whitesmoke_eee: #eeeeee;
