$black_000: #000000;
$darkgray_AAAAAA: #aaaaaa;
$darkgray_aaa: #aaaaaa;
$darkgrey_999: #999999;
$darkkhaki_A9BF6E: #a9bf6e;
$darkorange_FF9922: #ff9922;
$darkslategray_444: #444444;
$darkslategrey_333: #333333;
$dimgray_555: #555555;
$gainsboro_ddd: #dddddd;
$gainsboro_e5e5e5: #e5e5e5;
$grey_777: #777777;
$grey_949494: #949494;
$lightgray_CCC: #cccccc;
$lightgray_ccc: #cccccc;
$white_FFF: #ffffff;
$white_FFFFFF: #ffffff;
$white_fff: #ffffff;
$whitesmoke_f6f6f6: #f6f6f6;
