$black_000: #000000;
$black_000000: #000000;
$black_222: #222222;
$darkgray_aaa: #aaaaaa;
$darkgrey_999: #999999;
$darkorange_FF9922: #ff9922;
$darkorange_f92: #ff9922;
$darkslategray_444: #444444;
$darkslategrey_333: #333333;
$dimgray_555: #555555;
$gainsboro_DDD: #dddddd;
$grey_777: #777777;
$lightgray_ccc: #cccccc;
$orange_f3960d: #f3960d;
$white_FFF: #ffffff;
$white_FFFFFF: #ffffff;
$white_fff: #ffffff;
