$black_000: #000000;
$darkgrey_999: #999999;
$darkgrey_B0B0B0: #b0b0b0;
$darkslategray_4B4B4B: #4b4b4b;
$darkslategrey_333: #333333;
$gainsboro_E5E5E5: #e5e5e5;
$grey_929292: #929292;
$lightblue_89C6D1: #89c6d1;
$lightgray_CCC: #cccccc;
$palegoldenrod_FFF1AB: #fff1ab;
$silver_BBB: #bbbbbb;
$slategray_4B7C8E: #4b7c8e;
$slategrey_3E6C7C: #3e6c7c;
$white_FDFDFD: #fdfdfd;
$white_FFF: #ffffff;
$white_fff: #ffffff;
$whitesmoke_EEE: #eeeeee;
$whitesmoke_EEEEEE: #eeeeee;
$whitesmoke_F1F1F1: #f1f1f1;
$whitesmoke_F2F2F2: #f2f2f2;
