$black_000: #000000;
$black_2A2A2A: #2a2a2a;
$darkgray_AAAAAA: #aaaaaa;
$darkgray_a9a9a9: #a9a9a9;
$darkgrey_999: #999999;
$darkslategray_444: #444444;
$darkslategrey_333333: #333333;
$goldenrod_FCB24B: #fcb24b;
$gray_888: #888888;
$grey_777777: #777777;
$lightgray_CCCCCC: #cccccc;
$lightgray_ccc: #cccccc;
$silver_BBBBBB: #bbbbbb;
$white_FFFFFF: #ffffff;
$white_fff: #ffffff;
$whitesmoke_EEEEEE: #eeeeee;
$whitesmoke_eee: #eeeeee;
$whitesmoke_f0f0f0: #f0f0f0;
