$black_000000: #000000;
$darkgrey_999999: #999999;
$darkorange_FF9922: #ff9922;
$darkslategray_4A4A4A: #4a4a4a;
$gainsboro_E5E5E5: #e5e5e5;
$lightgray_CCC: #cccccc;
$lightgray_CCCCCC: #cccccc;
$silver_C9C9C9: #c9c9c9;
